version: 2.1
orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/go-build:
        name: go-build
        binary: openssf-scorecard-exporter
        resource_class: large
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package-and-push-chart
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: 'openssf-scorecard-exporter'
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
