image:
  name: "giantswarm/openssf-scorecard-exporter"
  tag: ""
registry:
  domain: gsoci.azurecr.io

monitoring:
  secure: false
  serviceMonitor:
    enabled: true
    labels: {}
    interval: ""
    scrapeTimeout: ""
    relabelings:
      - action: labeldrop
        regex: pod|service|container
    metricRelabelings: []

imagePullSecrets: []

pod:
  user:
    id: 65532
  group:
    id: 65532

nodeSelector: {}
tolerations: []

# Additional custom pod labels
podLabels: {}

# Additional custom pod annotations
podAnnotations: {}

# Pod securityContext
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Container securityContext
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

controller:
  # A jitter of +/- maxJitterPercent% is applied to the requeue interval.
  maxJitterPercent: 10
  
  # The interval for requeuing ConfigMap reconciliation to refresh scorecard data
  requeueInterval: 1h
